.background-image-wrapper {
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.background-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
