.item-list-box {
  width: calc(100% + 2vw);
  display: flex;
  padding: 10px 0px 10px 1vw;
  margin: 0px -1vw 10px -1vw;
  border-top: 2px solid var(--grid-line-color);
  border-bottom: 2px solid var(--grid-line-color);
}