#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Replace with background-image later */
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
