@import "tailwindcss";

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.framed-box {
  padding: 40px 13vw 10px 13vw;
  line-height: 1.4;
  font-size: 14px;
  color: white;
  background: linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color));
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: 0px 30px, calc(100% - 12vw) 0px, 0px calc(100%), 12vw 0px;
  background-repeat: no-repeat;
}

.framed-box-bottom {
  padding: 40px 13vw 40px 13vw;
  line-height: 1.4;
  font-size: 14px;
  color: white;
  background: linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color));
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: 0px 30px, calc(100% - 12vw) 0px, 0px calc(100% - 30px), 12vw 0px;
  background-repeat: no-repeat;
}

.framed-footer-text {
  padding: 10px 0px 10px 0px;
  line-height: 1.4;
  font-size: 10px;
  color: gray;
  background: linear-gradient(var(--grid-line-color), var(--grid-line-color)), linear-gradient(var(--grid-line-color), var(--grid-line-color));
  background-size: 2px 100%, 2px 100%;
  background-position: calc(100% - 12vw) 0px, 12vw 0px;
  background-repeat: no-repeat;
}
